djangorestframework
psycopg2-binary
python-decouple
drf-yasg
pillow
celery
redis
djangorestframework-simplejwt
gunicorn
django-filter
django-cors-headers
django-autoslug
aiogram
django-jazzmin
googletrans==4.0.0-rc1
Django
channels
channels-redis
asgiref
daphne

